body {
  background: #f8e8a6;
  display: block;
  text-align: center;
}

a {
  color: green;
  margin: 10px;
}

img {
  max-width: 600px;
  border-radius: 4px;
}

footer {
  text-align: center;
  margin: 10px 20px;
}

.contact-email {
  color: blue;
}
